.itemContainer {
    display: flex;
}

.categoryHeader {
    margin-top: 25px;
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    color: #253D28;
}

.divider {
    border: 2px solid black;
    width: 100%;
    margin: auto;
}

.categoryContainer {
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
}

.itemContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}

.itemContainer::--webkit-scrollbar {
    height: 8px;
}

itemContainer::--webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.itemContainer > * {
    flex: 0 0 auto;
    width: calc(25% - 16px);
}
