.btn {
    position: relative;
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    letter-spacing: .25ch;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background: black;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.btn:hover::after {
    width: 100%;
}

.navbar {
    composes: btn;
    color: #253D28;
}

.quantity {
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.quantity:hover {
    color: gray;
}

.addToCart {
    composes: btn;
    font-size: 14px;
    padding: 2px 2px;
    height: 25px;
}

.error {
    composes: btn;
    color:  #7F1D1D;
}