.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20%;
    height: 300px;
    border: 1px solid red;
}

.itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    border: 1px solid green;
}

.itemImg {
    border: 1px solid blue;
    max-width: 90%;
    max-height: 175px;
    margin-top: 10px;
}

.itemInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.item {
    text-align: center;
}

.buttonContainer {
    margin-top: 20px;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantityInput {
    text-align: center;
    width: 50px;
}