.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 -1px 2px 0px #9CA3AF;
}

.linkContainer {
    display: flex;
    font-family: "Roboto", sans-serif;
}

.linkPrefix, .linkText, .linkIcon {
    font-weight: bold;
    font-size: 14px;
}

.linkText {
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.linkText:hover {
    color: gray;
}

.linkIcon {
    margin-left: 5px;
}